POSTGRES_USER=obsync
POSTGRES_PASSWORD=obsync
POSTGRES_DB=obsync
PORT=3000
JWT_ISSUER=obsync
JWT_AUDIENCE=obsync
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=
JWT_EXPIRES_IN=12h
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=
COOKIE_SECURE=false
COOKIE_DOMAIN=
